/* 基本要素 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100%;  
}

footer {
  width: 100%;
  height: 355px;
}

.content-center {
  display: flex;
  justify-content: center;
}

/* ヘッダー要素*/
.posse-icon {
  margin-left: 24px;
}

.nav-ber {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 24px;
}

.nav-item {
  color: #666666;
  font-size: 14px;
  font-weight: 700;
}

.header-link {
  text-decoration: none;
  color: #666666;
}

.circle-border {
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  width: 48px;
  height: 50px;
}

.nav-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-sns-icon {
  display: flex;
  gap: 16px;
}

/* クイズページ */
.quiz {
  margin: 128px 15% 110px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 120px;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.quiz-question-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h2 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.quiz-icon {
  width: 53px;
  height: 54px;
  color: #FFFFFF;
  background-color: #0071bc;
  border-radius: 8px;
  padding: 8px 16px;
}

.quiz-question {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #333333;
}

.quiz-answer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quiz-answer-icon {
  width: 26px;
  height: 54px;
  background-color: #E34E70;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 8px 16px;
}

.quiz-answer-list {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0 auto;
}

.quiz-answer-list-select {
  width: 312px;
  background-color: #FFFFFF;
  border: 5px solid #EEEEEE;
  border-radius: 8px;
  padding: 24px;
}

.quiz-answer-list-select:hover {
  cursor: pointer;
}

.quiz-answer-list-select-text {
  position: relative;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.quiz-answer-list-select-text::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #333333;
}

.reference {
  border-radius: 8px;
  background-color: #F6F6f6;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 24px 0 24px 24px;
  display: flex;
  gap: 15px;
}

/* Q1 */
.q1_img {
  width: 718px;
  height: 357px;
  margin: 0 auto;
}
.q2_img {
  width: 718px;
  height: 358px;
  margin: 0 auto;
}
.q3_img {
  width: 718px;
  height: 357px;
  margin: 0 auto;
}
.q4_img {
  width: 718px;
  height: 358.59px;
  margin: 0 auto;
}
.q5_img {
  width: 718px;
  height: 324px;
  margin: 0 auto;
}
.q6_img {
  width: 718px;
  height: 381px;
  margin: 0 auto;
}

/* LINE */
.line-box {
  position: relative;
  height: 360px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.line-bule {
  position: absolute;
  background-color: rgba(0,113,188,0.9);
  border-radius: 48px;
  z-index: 1;
  Width: 984px;
  height: 100%;
}

.line-back-img {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  border-radius: 48px;
  Width: 984px;
  height: 100%;
  margin:  0 auto;
}

.line-box-title {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin: 68px 0 16px 0;
}

.line-box-titie-icon {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  object-fit: cover;
  border-radius: 8px;
}

.line-box-title-text {
  font-family: 'Noto Sans JP';
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 180%;
}

.line-box-text {
  font-family: 'Noto Sans JP';
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
}

.line-box-button {
  width: 320px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 98px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.line-box-button-text {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  color: #666666;
  letter-spacing: 0.1em;
}

.line-box-button-icon {
  width: 12.25px;
  height: 12.25px;
}

/* フッター要素 */
.footer-posse-icon-img {
  padding: 56px 0 24px 0;
  border-top: 1px solid #EEEEEE;
}

.footer-posse-icon-img-size {
  width: 202px;
  height: 39.22px;
}

.official-website {
  color: #666666;
}

.official-website-link {
  width: 12.25px;
  height: 12.25px;
  margin: 6.125px 0 0 6.29px;
}

.footer-sns-icon {
  display: flex;
  gap: 8px;
  padding: 32px 0 48px 0;
  border-bottom: 1px solid #EEEEEE;
}

.copy-right {
  font-size: 10px;
  padding: 36px 0 31.78px 0;
}

/* クイズページ */
/* ヒーロー */
.hero {
  width: 100%;
  height: 320px;
  background-image: url(/img/quiz/bg-hero.jpg);
  position: relative;
}

.hero-title {
  color: #FFFFFF;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  position: absolute;
  top: 154px;
  left: 20%;
}

.hero-subtitle {
  color: #FFFFFF;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  position: absolute;
  top: 110px;
  left: 20%;
}
