.menu-bar {
  display: none;
}

@media screen and (max-width: 768px) {

  .nav-ber {
    display: none;
  }

  .menu-bar {
    position: relative;
    display: block;
    width: 7%;
    height: 20px;
    cursor: pointer;
    margin-right: 5vw;
  }

  .menu-bar::before,
  .menu-bar::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color:#666666;
    right: 5%;
  }

  .menu-bar::before {
    top: 0px;
  }

  .menu-bar::after {
    bottom: 0px;
  }

  footer {
    margin-bottom: 55px;
  }

  /* トップページ */

  .main-visual {
    flex-direction: column;
  }

  .hero-img {
    width: 100%;
    border-radius: 0;
    float: none;
  }

  .main-visual-box {
    position: relative;
    left: 0;
    top: 25px;
    width: 90%;
    margin: 0 5%;
    max-width: none;
    padding: 15px 0;
  }

  .main-visual-name {
    font-size: 12px;
  }

  .main-visual-msg {
    font-size: 28px;
    text-align: center;
    line-height: normal;
    margin-top: 0;
  }

  .scroll-down {
    display: none;
  }

  .title {
    font-size: 24px;
    margin-top: 40px;
  }

  .about-posse-content {
    flex-direction: column;
    width: 95%;
    margin-bottom: 64px;
  }

  .about-posse-img {
    width: 100%;
    height: auto;
  }

  .about-posse-text {
    width: 100%;
  }

  .line-back-img,
  .line-blue {
    width: 95%;
  }

  .banner {
    width: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0;
    padding: 10px 0;
  }

  /* クイズページ */
  .hero-subtitle {
    font-size: 14px;
  }

  .hero-title {
    font-size: 28px;
  }

  .quiz-question {
    font-size: 18px;
  }

  .quiz {
    width: 95%;
    margin: 40px auto 40px auto;
    gap: 40px;
  }

  .quiz-answer-list {
    flex-direction: column;
  }

  .quiz-answer-list-select {
    width: 80vw;
  }

  /* メニュー画面 */
  .menu {
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background-color: #FFFFFF;
    animation-name:fadeRightAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    z-index: 5;
    position: fixed;
  }

  @keyframes fadeRightAnime{
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .close-menu {
    font-size: 30px;
    margin-right: 24px;
  }

  .menu-nav {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .menu-item {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }

  .menu-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .menu-sns-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .menu-line {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    background: #5FDF5B;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5em;
    z-index: 2;
    padding: 16px;
    margin: 0 auto;
    text-decoration: none;
  }

  .menu-line-icon {
    width: 28px;
    height: 28px;
    background-color: #FFFFFF;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .menu-line-msg {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.14em;
    color: #FFFFFF;
  }
}
